body {
    margin: 0;
    background-image: url('../images/bg.png');
    min-width: 960px;
    cursor: none;
}

rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke-width: 2.5px;
}
